#wrapper {
	width: 80%;
	margin: 0 auto 0 auto;
	background-color: rgb(255,199,290);
}

header {
	float: none;
	font-size: 5em;
}

@media only screen and (max-width: 64em) {
#wrapper {
	width: auto;
	}
}

@media only screen and (max-width: 37.5em) {

}